/********************************************
 * Css template for the pp_forum extension
 * @see http://typo3.org
 *
 * @author: macmade
 * @co-author: popy
 *
 * Forums part
 */
.tx-ppforum-pi1 .forum-description {
	margin-top: -0.5em;
	padding: 0px 5px 5px 5px;
	font-style: italic;
}

.tx-ppforum-pi1 .child-list-title {
	padding: 5px;
	background-color: #222;
}

.tx-ppforum-pi1 .child-list-head {
	background-color: #333;
}

.tx-ppforum-pi1 .child-list table td {
	padding: 5px;
}

.tx-ppforum-pi1 .child-list .single-col {
	border-left: solid 1px #FFFFFF;
}
.tx-ppforum-pi1 .child-list .child-title {
	border-left: none;
	width: 180px;
}
.tx-ppforum-pi1 .child-list .child-topics {
	width: 40px;
}
.tx-ppforum-pi1 .child-list .child-posts {
	width: 40px;
}

.tx-ppforum-pi1 .child-list table .row-alt {
	border-top: solid 1px #FFFFFF;
	background-color: #444;
}
.tx-ppforum-pi1 .child-list table .row {
	border-top: solid 1px #FFFFFF;
	background-color: #555;
}

.tx-ppforum-pi1 .topic-list {
	margin-bottom: 10px;
}
