/********************************************
 * Css template for the pp_forum extension
 * @see http://typo3.org
 *
 * @author: ???
 *
 * Global part
 */



/*** BEGIN Base */
	.tx-ppforum-pi1 {
		width: 100%;
	}

	/* Rootline */
	.tx-ppforum-pi1 .rootline {
		padding: 5px;
	}

	.tx-ppforum-pi1 img {
		border: none;
	}

	.tx-ppforum-pi1 a {
		font-weight: bold;
	}
/*** END Base */

/*** BEGIN general styles */

	.tx-ppforum-pi1 form {
		margin: 0px;
	}

	.tx-ppforum-pi1 textarea {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
	
	.left-col select {
			font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}

	.tx-ppforum-pi1 a {
		color: rgb(190, 0, 39);
		text-decoration: none;
	}
	.tx-ppforum-pi1 a:hover {
		text-decoration: underline;
	}

	.tx-ppforum-pi1 .forum-title {
		font-size: 18px;
		margin: 0.5em 0px;
		font-weight: bold;
	}

	.tx-ppforum-pi1 table {
		width: 100%;
		border-collapse: collapse;
	}
/* END general style */


/* BEGIN Rows layout */
	.tx-ppforum-pi1 .row, .tx-ppforum-pi1 .row-alt {
		overflow: hidden;
		_height: 100%;
	}

	.tx-ppforum-pi1 .left-col {
		float: left;
		width: 200px;
		font-size: 11px;
	}

	/* Fixing heights */
	.tx-ppforum-pi1 .right-col, .tx-ppforum-pi1 .left-col {
		overflow: hidden;
		padding: 5px 5px 32767px 5px;
		margin-bottom: -32762px;
	}
	
	.tx-ppforum-pi1 .right-col {
		_margin-left: 200px;
		font-size: 11px;
	}
/* END Rows layout */



/*** BEGIN Buttons */
	.tx-ppforum-pi1 .button {
		float: right;
		width: auto;
	}

	.tx-ppforum-pi1 .button {
		padding: 4px;
		margin: 2px;
		background: #dddddd;
		background-image: url(EXT:pp_forum/css_templates/green/bg.jpg);
		border: 1px solid #999999;
		font-size: 12px;
		font-weight: bold;
		color: #ffffff;
		cursor: pointer;
	}

	.tx-ppforum-pi1 .button:hover:active {
		padding: 3px 3px 2px 4px;
		border: 2px inset buttonface;
	}

	.tx-ppforum-pi1 .belink-resizable-corner {
		background-image: url(EXT:pp_forum/res/resizable-corner.png);
	}

/*** END Buttons */


/*** BEGIN Tools part */
	.tx-ppforum-pi1 .toolbar {
		background-color: #ffffff;
		padding: 2px;
		overflow: hidden;
		_height: 100%;
		text-align: right;
	}
/*** END Tools part */

/*** BEGIN Hidden tools part */

.tx-ppforum-pi1 .hiddentools .single-tool {
	margin-top: 10px;
}

.tx-ppforum-pi1 .hiddentools .single-tool .tool-title {
	background-color: #ccff66;
	padding: 4px;
	color: #ffffff;
	font-weight: bold;
	font-size: 14px;
	background-image: url(EXT:pp_forum/css_templates/green/bg.jpg);
}

/*** END Hidden tools part */

/*** BEGIN Stats part */
.tx-ppforum-pi1 .stats {
	margin-top: 10px;
	padding: 5px;
	background: #ffffff;
}
/*** END Stats part */


/* User bar */
.tx-ppforum-pi1 .user-bar div {
	padding: 5px;
}

/* Author style */
.tx-ppforum-pi1 .author {
	font-weight: bold;
	color: rgb(255, 135, 0);
	text-decoration: underline;
}

/* browsers */
.tx-ppforum-pi1 .browser {
	padding: 5px;
}