/********************************************
 * Css template for the pp_forum extension
 * @see http://typo3.org
 *
 * @author: macmade
 * @co-author: popy
 *
 * Messages part
 */



/* Message style */

.tx-ppforum-pi1 .single-message .row {
	border-bottom: 1px white solid;
}
.tx-ppforum-pi1 .single-message .left-col {
	border-right: 1px white solid;
}

.tx-ppforum-pi1 .single-message .head-row {
	background: rgb(255, 189, 115);
	color: white;
}

.tx-ppforum-pi1 .single-message.row-alt .head-row {
	background: rgb(255, 160, 115);
}

.tx-ppforum-pi1 .single-message .main-row {
	background: #EEEEEE;
}

.tx-ppforum-pi1 .single-message .tools-row, .tx-ppforum-pi1 .single-message .options-row, .tx-ppforum-pi1 .single-message .parser-row {
	background: #DDDDDD;
}

.tx-ppforum-pi1 .hidden-message .main-row, .tx-ppforum-pi1 .hidden-message .tools-row {
	background: #FFFFB0;
	color: black;
}

/* Tunning buttons */
.tx-ppforum-pi1 .single-message .parser-row .right-col .button {
	margin: -2px 2px;
}

.tx-ppforum-pi1 .single-message .smileys-buttons img {
	margin: 2px;
}

/* Inter message spacer */
.tx-ppforum-pi1 .single-message {
	margin-bottom: 10px;
	_height: 100%;
}

.tx-ppforum-pi1 .single-tool .single-message {
	margin-bottom: 0px;
}

/* Text style */
.tx-ppforum-pi1 .single-message .message blockquote {
	margin: 0px;
	padding: 0px;
	border: 1px dotted blue;
	background: white;
}

.tx-ppforum-pi1 .single-message .main-row .user-signature .separator {
	border: 1px solid black;
	width: 20em;
	margin: 0.5em 0px;
	text-align: left;
}


.tx-ppforum-pi1 .single-message .main-row .user-signature {
	margin-top: 3em;
}
