/********************************************
 * Css template for the pp_forum extension
 * @see http://typo3.org
 *
 * @author: macmade
 * @co-author: popy
 *
 * Global part
 */



/*** BEGIN Base */
	.tx-ppforum-pi1 {
		width: 100%;
	}

	/* Rootline */
	.tx-ppforum-pi1 .rootline {
		padding: 5px;
	}

	.tx-ppforum-pi1 img {
		border: none;
	}
/*** END Base */

/*** BEGIN general styles */

	.tx-ppforum-pi1 form {
		margin: 0px;
	}

	.tx-ppforum-pi1 a {
		color: white;
		text-decoration: none;
	}
	.tx-ppforum-pi1 a:hover {
		text-decoration: underline;
	}

	.tx-ppforum-pi1 table {
		width: 100%;
		border-collapse: collapse;

		color: rgb(10, 19, 24);
	}
/* END general style */


/* BEGIN Rows layout */
	.tx-ppforum-pi1 .row, .tx-ppforum-pi1 .row-alt {
		overflow: hidden;
		height: 100%;
	}

	.tx-ppforum-pi1 .left-col {
		float: left;
		width: 200px;
	}

	.tx-ppforum-pi1 .right-col, .tx-ppforum-pi1 .left-col {
		overflow: hidden;
		padding: 5px 5px 5px 5px;
	}

	/* For IE6, the overflow:hidden; will not prevent the right col to go under the left col :( */
	* html .tx-ppforum-pi1 .right-col {
		margin-left: 200px;
	}

	/* Fixing left col height */
	.tx-ppforum-pi1 .left-col {
		padding-bottom: 32767px;
		margin-bottom: -32762px;
	}
	
/* END Rows layout */

/*** BEGIN Buttons */
	.tx-ppforum-pi1 .button {
		float: left;
		width: auto;
	}

	.tx-ppforum-pi1 .button {
		display: block;
		color: inherit;

		padding: 2px 4px 3px 3px;
		margin: 2px;
		background: rgb(91, 167, 192);
		border: 2px outset buttonface;
		cursor: pointer;
	}

	/* IE doesn't support inherit ... */
	* html .tx-ppforum-pi1 .button, * + html .tx-ppforum-pi1 .button {
		color: black;
	}

	/* Remove hover link underline */
	.tx-ppforum-pi1 .button:hover {
		text-decoration: none;
	}

	* html .tx-ppforum-pi1 .button {
		border-style: solid;
		border-color: #f9f8f3 #828177 #828177 #f9f8f3;
	}

	.tx-ppforum-pi1 .button:hover:active {
		padding: 3px 3px 2px 4px;
		border: 2px inset buttonface;
	}
/*** END Buttons */


.tx-ppforum-pi1 textarea {
	color: inherit;
	border: 1px #ccc solid;
	background: #fafafa;

	width: 500px;
	height: 150px;
}

.tx-ppforum-pi1 textarea:focus {
	background: #f0f0f0;
	color: #333;
	border-color: #666;
}

.tx-ppforum-pi1 .belink-resizable-corner {
	background-image: url(EXT:pp_forum/res/resizable-corner.png);
}

/*** BEGIN Tools part */
	.tx-ppforum-pi1 .toolbar {
		background-color: rgb(91, 167, 192);
		padding: 2px;
		overflow: hidden;
	}
	* html .tx-ppforum-pi1 .toolbar {
		height: 100%;
	}
/*** END Tools part */

/*** BEGIN Hidden tools part */

.tx-ppforum-pi1 .hiddentools .single-tool {
	margin-top: 10px;
}

.tx-ppforum-pi1 .hiddentools .single-tool .tool-title {
	background: #cccccc;
	color: black;
	font-weight: bold;
	padding: 5px;
}

/*** END Hidden tools part */

/*** BEGIN Stats part */
.tx-ppforum-pi1 .stats {
	margin-top: 10px;
	padding: 5px;
	background: rgb(100, 147, 200);
}
/*** END Stats part */


/* User bar */
.tx-ppforum-pi1 .user-bar div {
	padding: 5px;
}

/* Author style */
.tx-ppforum-pi1 .author {
	font-weight: bold;
	text-decoration: underline;
}

/* browsers */
.tx-ppforum-pi1 .browser {
	padding: 5px;
}

.tx-ppforum-pi1 .error {
	color: red;
}